<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Videosync</title>
		<meta name="description" content="🚿">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			
body {
	margin: 0;
	font-family: monospace;
	color: #eee;
	background: #111;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
			
		</style>
		<script>
		
const apiUrl = "/api/v1";
const uploadUrl = apiUrl + "/upload";
const hostUrl = apiUrl + "/host";
const websocketUrl = "wss://" + window.location.host + "/faucet";

// Easier function to get an element
function id(name) {
	return document.getElementById(name);
}

// Show new host controls
function host() {
	id("host").toggleAttribute("hidden");
	console.log("Host");
}

// Create a new session
function upload() {
	// Grab details from form
	let file = id("video_file").files[0];
	let password = id("password").innerText;
	
	let form = new FormData();
	form.append("file", file);
	form.append("password", password);
	
	let progress = id("progress");
	let xhr = new XMLHttpRequest();
	
	// What to do when in progress
	xhr.upload.addEventListener("progress", (event) => {
		if (event.lengthComputable) {
			let percent = event.loaded / event.total;
			progress.innerText = String(percent) + "%";
		} else {
			progress.innerText = "Uploading...";
		}
	});
	
	// What to do when finished
	xhr.upload.addEventListener("load", (event) => {
		console.log("Finished sending");
		let resp = xhr.response;
		// TODO: set host token and redirect to url
	});
	
	xhr.open("POST", uploadUrl);
	// Send request
	xhr.send(form);
	
	console.log("Sent form");

	progress.removeAttribute("hidden");
}
		
		</script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>