<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Videosync</title>
		<meta name="description" content="🚿">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			
body {
	margin: 0;
	font-family: monospace;
	color: #eee;
	background: #111;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
			
		</style>
		<script>
		
const apiUrl = "/api/v1";
const uploadUrl = apiUrl + "/upload";
const hostUrl = apiUrl + "/host";
const timeUrl = apiUrl + "/WaterTowerTime";
const websocketUrl = "wss://" + window.location.host + "/faucet";
var token;
var timeDifference;

{{#if videoID}}
const videoID = {{videoID}};
{{/if}}

// Easier function to get an element
function id(name) {
	return document.getElementById(name);
}

// Get server time
function getTime() {
	let xhr = new XMLHttpRequest();
	xhr.addEventListener("load", (event) => {
		let serverTime = xhr.response.timeStamp;
		let localTime = Date.now();
		timeDifference = serverTime - localTime;
		console.log(`Server time: ${serverTime}, local time: ${localTime}, difference: ${timeDifference}`);
	});
	xhr.open("GET", timeUrl);
	xhr.send();
	console.log("Requested server time");
}

// Show new host controls
function host() {
	id("host").toggleAttribute("hidden");
	console.log("Host");
}

// Request host
function requestHost() {
	let password = id("password");
	
	let xhr = new XMLHttpRequest();
	xhr.addEventListener("load", (_event) => console.log("Host request received"));
	xhr.addEventListener("load", (event) => {
		token = xhr.response.token;
	})
	xhr.open("POST", hostUrl);
	xhr.send(password);
	console.log("Host request sent");
}

// Create a new session
function upload() {
	// Grab details from form
	let file = id("video_file").files[0];
	let password = id("password").innerText;
	
	let form = new FormData();
	form.append("file", file);
	form.append("password", password);
	
	let progress = id("progress");
	let xhr = new XMLHttpRequest();
	
	// What to do when in progress
	xhr.upload.addEventListener("progress", (event) => {
		if (event.lengthComputable) {
			let percent = event.loaded / event.total;
			progress.innerText = String(Math.floor(percent * 100)) + "%";
		} else {
			progress.innerText = "Uploading...";
		}
	});
	
	// What to do when finished
	xhr.upload.addEventListener("load", (event) => {
		console.log("Finished sending");
		token = xhr.response.token;
		// TODO: set host token and redirect to url
	});
	
	xhr.open("POST", uploadUrl);
	// Send request
	xhr.send(form);
	
	console.log("Sent form");

	progress.removeAttribute("hidden");
}

window.addEventListener("load", () => {
	getTime();
});
	
		</script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>