<h1>Videosync</h1>
<p>Upload a video and enter a host key, then share the link with whoever you would like to watch with. All plays, pauses, and seeks done by hosts will be synced with everyone. Enter the host key on the next page to become a host. There can be any number of viewers and any number of hosts.</p>
<form action="/Upload" id="host" enctype="multipart/form-data", method="POST" class="form">
<p>
	Video file: <input type="file" name="file" id="file" accept="video/*">
</p>
<p>
	Host key: <input type="text" name="password" id="password">
</p>
	<button>Submit</button>
</form>