<h1>KitchenSync</h1>
{{!-- <p>Upload a video and enter a host key, then share the link with whoever you would like to watch with. All plays,
	pauses, and seeks done by hosts will be synced with everyone. Enter the host key on the next page to become a host.
	There can be any number of viewers and any number of hosts.</p>
<p>If you don't have a video, here's an example, with the host key <code>pass</code>:
<br>
	<a href="http://kitchensync.tech/watch/OZAPXNYUu6UHrYdrLHet1upwVvoqb6qh.mp4">Ostrich</a>
<br>
Note that there may be others hosting it!</p> --}}
<form action="/Upload" id="host" enctype="multipart/form-data" , method="POST" class="form">
	<p>
		Video file: <input type="file" name="file" id="file" accept="video/*">
	</p>
	{{!-- <p>
		Host key: <input type="text" name="password" id="password">
	</p> --}}
	<button>Submit</button>
</form>