<h1>Videosync</h1>
<div id="video_container"></div>
<button onclick="host()">Host session</button>
<div id="host" hidden>
	<p>Upload video file: <input type="file" id="video_file" accept="video/*"></p>
	<p>Password for hosts: <input type="password" id="password"></p>
	<button onclick="upload()">Submit</button>
	<p id="progress" hidden></p>
</div>