<video src="/videos/{{videoID}}"></video>
<button onclick="document.getElementById('becomeHost').toggleAttribute('hidden')">Become host</button>
<div id="becomeHost" hidden>
	<input type="password" name="password" id="password">
	<button onclick="requestHost()">Submit</button>
</div>
