<video src="/videos/{{videoID}}" id="video" controls="show"></video>
<button onclick="document.getElementById('becomeHost').toggleAttribute('hidden')">Become host</button>
<div id="becomeHost" hidden>
	<p>Password<input type="text" name="password" id="password" onsubmit="requestHost()"></p>
	<button onclick="requestHost()">Submit</button>
	<p id="youarehost" hidden>You are host!</p>
</div>
<img class="qrcode" src="{{qrcode}}" alt="qrcode">